<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>{% block title %}Welcome!{% endblock %}</title>
    <meta content="" name="descriptison">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="{{ asset('build/images/favicon.png') }}" rel="icon">
    <link href="{{ asset('build/images/apple-touch-icon.png') }}" rel="apple-touch-icon">

    <!-- Google Fonts -->

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}

    {% endblock %}
</head>


<body>
{% block body %}{% endblock %}
{% block javascripts %}

    <!-- Vendor JS Files -->
{#
    <script src="{{ asset('assets/vendor/jquery/jquery.min.js') }}"></script>
#}
{#
    <script src="{{ asset('assets/vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
#}

    {#<!-- Template Main JS File -->
    <script src="{{ asset('assets/js/main.js') }}"></script>
    #}{{ encore_entry_script_tags('app') }}

{% endblock %}
</body>
</html>
